* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url("../slike/header_pozadina.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 4px 4px black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.product {
    width: 400px;
    background-color: #f8f8f9;
    font-family: 'Ubuntu', sans-serif;
}

.product img {
    width: 100%;
}

.productFooter {
    color: rgb(193, 0, 0);
    justify-content: space-between;
    padding: 20px 10px 5px 10px;
}

.productTitle {
    font-size: 1.8rem;
    padding: 10px;
}

.productDescription {
    font-size: 1.1rem;
    padding: 0px 10px;
    color: #666;
}

.productTags {
    gap: 5px;
    padding: 0px 10px;
}

.card {
    font-size: 0.8rem;
    background-color: white;
    padding: 10px;;
}

.footer {
    display: flex;
    background-color: darkgrey;
    justify-content: center;
    align-items: center;
    padding: 20px;
}